<div class="h-screen flex overflow-hidden">
  <NexusWeb.Navigation.sidebar current_path={@current_path} />
  <main class="flex-1 flex flex-col overflow-hidden relative">
    <div class="absolute top-12 right-4 z-50">
      <.flash_group flash={@flash} />
    </div>
    {@inner_content}
  </main>
</div>
