<div class="h-full flex">
  <NexusWeb.Navigation.sidebar current_path={@current_path} />
  <main class="flex-1 h-full overflow-hidden">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
