<div class="h-screen flex overflow-hidden">
  <NexusWeb.Navigation.sidebar current_path={@current_path} />
  <main class="flex-1 flex flex-col overflow-hidden">
    <.flash_group flash={@flash} />
    <div class="flex-1 overflow-hidden">
      {@inner_content}
    </div>
  </main>
</div>
